---
// import { ViewTransitions } from "astro:transitions";

const baseDesc = "The page of Its-Just-Nans aka n4n5. Here you can view my projects and get informations about me !";
interface Props {
    title: string;
    description?: string;
    keywords: string[];
    defaultKeywords?: string[];
}

const {
    title = "n4n5.dev",
    description = baseDesc,
    keywords = [],
    defaultKeywords = ["n4n5", "dev", "n4n5.dev"],
} = Astro.props;
const img = "/cover.png";
const domain = "n4n5.dev";
const url = `https://${domain}`;
const key = "8qVBtr6GGGesE5nlacfO8rAmqBL9giPwr4FIouqVYO4";
const canonical = `https://${domain}${Astro.url.pathname}`;

const allKeywords = [...keywords, ...defaultKeywords];
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={allKeywords.join(", ")} />

<!-- favicon -->
<link rel="icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="manifest" href="/manifest.webmanifest" />

<meta name="google-site-verification" content={key} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="sitemap" href="/sitemap.xml" />
<link rel="canonical" href={canonical} />

<meta property="og:url" content={url} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={img} />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={domain} />
<meta property="twitter:url" content={url} />

<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={img} />
<!-- <ViewTransitions /> -->
